*{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #00000065;
    background: #ffffff;
}

.container{
    width: 100%;
    height: 100%;
}

.technical{
    margin:0 auto;
    width: 95%;
    height: 95%;
}

.acknow{
    margin:0 auto;
    width: 95%;
    height: 95%;
}

.menu{
    margin-top: 4%;
    text-align: center;
    margin-bottom: 5%;
}

.menu nav ul li{
    display: inline-flex;
    transition: all ease-in-out 0.2s;
    margin: 0.5%;
}

.nav{
    border: none;
    font-size: 15px
}

.nav:hover{
    text-decoration: underline;
    text-decoration-color: #004f9f;
}

 .git-btn{
    width: 20px;
    height: auto;
}


.IRTcenter{
    text-align: center;
}

.IRTlogo{
    margin-top: 35px;
    width: 350px;
    height: auto;
}

.DFirtlogo{
    text-align: center;
    width: 130px;
    height: auto;
    margin-bottom: 3%;
}

input[type=submit], input[type=button]{
    margin-top: 20px;
    cursor: pointer;
}

input[type=url], input[type=file]{
    border: 1px solid silver;
    border-radius: 5px;
    height: 35px;
    width: 15%;
}

input[type=file]{
cursor: pointer;
}

::placeholder{
    text-align: center;
    font-size: auto;
    color: silver;
}
 
#file{
    /* text-indent: -8.6em;
    text-align: left; */
}


.page{
    margin-top: 60px;
}

h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0000009a;
}

h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0000009a;
}

.info{
    margin-top: 20px;
    margin-bottom:20px;
}

.example-url{
    margin-top: 10px;
    font-family: Courier, monospace;
    margin-bottom: 65px;
}

.format{
    font-style: italic;
}

p{
    hyphens: auto;
    text-align: justify;
}

.intro{
    text-align: center;
    font-size: large;
}

.classification{
    margin-top: 80px;
    margin-bottom: 200px;
    text-align: center;
}

.prediction{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #00000065;
    font-size: 14px;
    font-weight: bold;
}

.predict-btn{
    background-color: #004f9f;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 8px;
    cursor: pointer;
}

.deepfaketypescenter{
    text-align: center;
    overflow-x: auto;
}

.deepfaketypes{
    width: 712px;
    height: auto;
}

table.center{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;
}

.performance{
    overflow-x: auto;
    border-collapse: collapse;
}

.augmentation{
    overflow-x: auto;
    border-collapse: collapse;
    text-align: center;
}

td, th{
    border: 1px solid #00000065;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #00000065;
}

figcaption{
    font-size: 12px;
}

