*{
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    background: #42455a;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-btn{
    width: 20px;
    height: auto;
}

.menu{
    position: absolute;
    left: 0;
}
.menu nav ul li{
    display: inline-flex;
    transition: all ease-in-out 0.2s;
}

.git-btn{
    width: 15px;
    height: auto;
}

.logo{
    text-align: center;
    margin-top: 80px;
}

img.IRTlogo{
    width: 240px;
    height: auto;
}

img.DFirtlogo{
    width: 100px;
    height: auto;
    margin-left: 5px;
}

.examples{
    text-align: center;
    display: inline-flex;
}

iframe.fakeexamples{
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.predict-example-btn{
    margin-left: 220px;
}

input[type=submit], input[type=button]{
    list-style: none;
    text-decoration: none;
    margin: 0 2px;
    color: #ffffff;
    background-origin: 2px solid transparent;
    background-image: linear-gradient(#4e425a, #00ff2a), radial-gradient(circle at top left, #42455a, #00ff2a);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
}


.page{
    margin-top: 120px;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #00ff2a;
}

p{
    text-align: justify;
}

.intro{
    text-align: center;
    font-size: large;
}

.classification{
    margin-top: 240px;
    margin-bottom: 240px;
    text-align: center;
}

.prediction{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #00ff2a;
}


.flowchart{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    overflow-x: auto;
}

table.center{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;
}

.performance{
    overflow-x: auto;
    border-collapse: collapse;
}

.augmentation{
    overflow-x: auto;
    border-collapse: collapse;
}

td, th{
    border: 1px solid #00ff2a;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #4e425a;
}