*{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #00000065;
    background: #ffffff;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu{
    margin-top: 60px;
    text-align: center;
}

.menu nav ul li{
    display: inline-flex;
    transition: all ease-in-out 0.2s;
    margin: 8px;
}

.nav{
    border: none;
    font-size: 15px
}

.nav:hover{
    text-decoration: underline;
    text-decoration-color: #004f9f;
}

 .git-btn{
    margin-top: 32px;
    float: right;
    right: 0;
    width: 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

img.IRTlogo{
    position: static;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 350px;
    height: auto;
}

img.DFirtlogo{
    float: left;
    left: 0;
    width: 100px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=submit], input[type=button]{
    cursor: pointer;
}


.page{
    margin-top: 120px;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0000009a;
}

h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0000009a;
}

.info{
    margin-top: 20px;
    margin-bottom:20px;
}

p{
    text-align: justify;
}

.intro{
    text-align: center;
    font-size: large;
}

.classification{
    margin-top: 80px;
    margin-bottom: 200px;
    text-align: center;
}

.prediction{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #00000065;
    font-size: 14px;
    font-weight: bold;
}

.predict-btn{
    background-color: #004f9f;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 8px;
    cursor: pointer;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading .modal {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.technical{
    text-align: center;
    overflow-x: auto;
}

.deepfaketypes{
    width: 515px;
    height: auto;
}

table.center{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;
}

.performance{
    overflow-x: auto;
    border-collapse: collapse;
}

.augmentation{
    overflow-x: auto;
    border-collapse: collapse;
    text-align: center;
}

td, th{
    border: 1px solid #00000065;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #00000065;
}

figcaption{
    font-size: 12px;
}