*{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #00000065;
    background: #ffffff;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu{
    margin-top: 200px;
    text-align: center;
}

.menu nav ul li{
    display: inline-flex;
    transition: all ease-in-out 0.2s;
}

.nav{
    border: none;
    font-size: 15px
}

.nav:hover{
    text-decoration: underline;
    text-decoration-color: #004f9f;
}

 .git-btn{
    position: absolute;
    right: 0;
    width: 50px;
    height: auto;
    margin-left: 10px;
}

img.IRTlogo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 350px;
    height: auto;
}

img.DFirtlogo{
    position: absolute;
    left: 0;
    width: 100px;
    height: auto;
    margin-right: 10px;
}

input[type=submit]:hover, input[type=button]:hover{
    margin: 0 2px;
    cursor: pointer;
}


.page{
    margin-top: 120px;
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0000009a;
}

.info{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    text-align: justify;
}

.intro{
    text-align: center;
    font-size: large;
}

.classification{
    margin-top: 80px;
    margin-bottom: 200px;
    text-align: center;
}

.prediction{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #00000065;
}

table.center{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;
}

.performance{
    overflow-x: auto;
    border-collapse: collapse;
}

.augmentation{
    overflow-x: auto;
    border-collapse: collapse;
}

td, th{
    border: 1px solid #00000065;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #00000065;
}