{% extends 'index.html' %}

{% block body %}
<div class="classification">
    <form action="/classify-url" method="POST" enctype="multipart/form-data">
        <input type="url" name="url" id="url" placeholder="https://www.youtube.com/watch?v=xxxxxxxxxxx" required>            
        <div>
            <input type="submit" value="Predict">
        </div>
    </form> 
    <div class="prediction">
        {{pred_from_url}}
    </div>
    <div class="info">
        Note: if you paste an URL to an image make sure that the it ends on a valid image format, i.e. jpeg or png.
    </div>
</div>

<div class="classification">    
    <div class="info">
        Or if you want to classify a file you can upload it below and hit the predict button. 
    </div>
    <form action="/classify-file" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file" required>
        <div>
            <input type="submit" value="Predict">
        </div>
    </form>
    <div class="prediction">
        {{pred_from_file}}
    </div>
    <div class="info">
        You can upload any image or video format, i.e. jpeg, png and mp4 or wav.
    </div>
</div>
{% endblock %}

