{% extends 'index.html' %}

{% block body %}
<!-- <div>
    <p>
        There are four types of deepfakes, namely Entire Face Synthesis, Expression Swap, Identity Swap and Attribute Manipulation. 
        Among these four types, Identity Swap and Expression Swap are the most popular types and are commonly known as deepfakes. 
        Identity Swap replaces the face of person A with person B and Expression Swap modifies facial expression. 
        The first three videos below are Identity Swaps and the fourth one is a Expression Swap. 
        You can click on predict and it will show our systems prediction. 
    </p>
</div>
<div class="examples">
    <div>
        <iframe class="fakeexamples" src="https://www.youtube.com/embed/5hZOcmqWKzY" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  
        allowfullscreen></iframe>
        <div>
            <input type="button" value="Predict" onclick="classify_merkelfake()">
        </div>
        <p id="classify_merkelfake"></p>
        <script>
            function classify_merkelfake(){
                document.getElementById("classify_merkelfake").innerHTML = "Fake: 90.12% Real: 9.88%";
                }
        </script>
    </div>
    <div>
        <iframe class="fakeexamples" src="https://www.youtube.com/embed/Ho9h0ouemWQ" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <div>
            <input type="button" value="Predict" onclick="classify_saulfake()">
        </div>
        <p id="classify_saulfake"></p>
        <script>
            function classify_saulfake(){
                document.getElementById("classify_saulfake").innerHTML = "Fake: 96.15% Real: 3.85%";
                }
        </script>
    </div>
    <div>
        <iframe class="fakeexamples" src="https://www.youtube.com/embed/sbFHhpYU15w" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <div>
            <input type="button" value="Predict" onclick="classify_putinfake()">
        </div>
        <p id="classify_putinfake"></p>
        <script>
            function classify_putinfake(){
                document.getElementById("classify_putinfake").innerHTML = "Fake: 96.55% Real: 3.45%";
                }
        </script>
    </div>
    <div>
        <iframe class="fakeexamples" src="https://www.youtube.com/embed/3f66kBwfMto" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <div>
            <input type="button" value="Predict" onclick="classify_zuckerbergfake()">
        </div>
        <p id="classify_zuckerbergfake"></p>
        <script>
            function classify_zuckerbergfake(){
                document.getElementById("classify_zuckerbergfake").innerHTML = "Fake: 66.67% Real: 33.33%";
                }
        </script>
    </div>
</div> -->

{% endblock %}
