<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/main.css">
        <title> DFirt </title>
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <nav>
                    <ul>
                        <li>
                            <form action="/home.html" method="POST">
                                <input class="home-btn" title="Home" type="image" src="/static/home_button.svg" alt="home button">
                            </form>
                        </li>
                        <li>
                            <form action="/file.html" method="POST">
                                <input type="submit" title="classify a file" name="File" value="File">
                            </form>
                        </li>
                        <li>
                            <form action="/url.html" method="POST">
                                <input type="submit" title="classify an URL" name="URL" value="URL">
                            </form>
                        </li>
                        <li>
                            <form action="/about.html" method="POST">
                                <input type="submit" title="more information" name="About" value="About">
                            </form>
                        </li>
                        <li>
                            <form action="/acknowledgements.html" method="POST">
                                <input type="submit" title="acknowledgements" name="acknowledge" value="Acknowledgements">
                            </form>
                         </li>
                         <li>
                            <a href="https://gitlab.irt.de/ai/deepfake_detection">
                                <img class="git-btn" title="GitLab" src="/static/git.svg" alt="git button">
                            </a>
                         </li>
                    </ul>
                </nav>
            </div>
            <div class="logo">
                <a href="https://www.irt.de/de/home">
                    <img class="IRTlogo" title="IRT Home" src="/static/Logo_irt_vers.svg" alt="IRT logo">
                </a>
                <img class="DFirtlogo" src="/static/logo.svg" alt="DFirt logo">
            </div>
            <div class="page">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>