{% extends 'base.html' %}

{% block head%}

{% endblock %}

{% block body %}

<div>
    <h1>Deepfake Classifier</h1>
    <hr>
    <form action="/classify-url" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div>Paste your URL</div>
            <div class="custom-url">
                <input type="url" class="custom-url-input" name="url" id="url">
                <label class="custom-url-label" for="url"></label>
            </div>
        </div>
        <div><input type="submit" value="Predict"></div>
    </form> 
    <h2>{{pred_from_url}}</h2>
</div>  
        
{% endblock %}

